{% extends 'base.html' %}{% load static %}{% load filtro %}{% block 'title'%}
SELETI.VE - EMPRESAS {% endblock %}{% block 'head' %}
<link href="{% static 'empresa/css/empresas.css' %}" rel="stylesheet" />
{% endblock%} {% block 'body' %}
<div class="wrapper">
  <div class="box">
    <div class="header-box">
      {% if messages %} {% for message in messages %}
      <section class="alert {{message.tags}}">{{message}}</section>
      {% endfor %} {% endif %}
      <h2 class="titulo">Gerenciar empresas</h2>
      <a class="btn-nova-empresa" href="{% url 'novaEmpresa' %}"
        >Adicionar Empresa</a
      >
    </div>
    <div class="borda-box"></div>
    <div class="body-box">
      <form action="{% url 'empresas' %}" method="GET">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-5">
            <input
              type="text"
              placeholder="Busque pelo nome"
              class="form-control"
              name="nome"
            />
          </div>

          <div class="col-md-4">
            <select class="form-select" name="tecnologias">
              <option value=""></option>
              {% for tecnologia in tecnologias %}
              <option value="{{tecnologia.id}}">
                {{tecnologia.tecnologia}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-3">
            <input
              type="submit"
              value="FILTRAR VAGAS"
              class="btn btn-lg btn-orange"
            />
          </div>
        </div>
      </form>

      <table class="tabela" cellpadding="20">
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Tecnologias usadas</th>
          <th>Quantidade de vagas</th>
          <th>Ação</th>
        </tr>
        {% for empresa in empresas %} {% if not forloop.counter|is_par %}
        <tr class="tabela-linha">
          {% else %}
        </tr>

        <tr class="">
          {% endif %}

          <td>
            <a href="{% url 'empresa' empresa.id %}" class="link-secondary"
              ><span>{{empresa.nome}}</span></a
            >
          </td>
          <td>{{empresa.endereco}}</td>
          <td>
            <select class="form-select">
              {% for tech in empresa.tecnologias.all %}
              <option>{{tech}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            {% if empresa.qtde_vagas > 0 %}
            <img
              src="{% static 'empresa/img/flag_green.png' %}"
              alt="Bandeira Verde"
              class=""
            />
            &nbsp&nbsp {{empresa.qtde_vagas}} Vagas {% else %}
            <img
              src="{% static 'empresa/img/flag_red.png' %}"
              alt="Bandeira Vermelha"
              class=""
            />
            &nbsp&nbsp Não há Vagas {% endif %}
          </td>
          <td>
            <a class="btn-excluir" href="{% url 'excluirEmpresa' empresa.id %}"
              >Excluir</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock%}
